.simple-chart {
  display: inline-block;
  height: 100%;
  width: 100%;

  svg {
    text {
      cursor: default;
      font-size: .8 * $base-font-size;
      line-height: $base-line-height;
    }
  }

  .bar {
    &:hover {
      fill: $brown;
    }
  }
}

.simple-chart-tooltip-container {
  max-width: 90%;
}
