.simple-chart {
  display: inline-block;
  height: 100%;
  width: 100%;

  svg {
    display: block;
    text {
      cursor: default;
      font-size: 0.8 * $base-font-size;
      line-height: $base-line-height;
    }
  }

  .bar {
    &:hover {
      fill: $brown;
    }
  }
}
