.simple-chart-tooltip {
  background: $background-grey;
  color: $text-grey;
  pointer-events: none;
  z-index: 100;

  .content {
    padding: .5em;

    .title {
      border-bottom: 1px solid $dark-grey;
      display: block;
      font-weight: bold;
      margin-bottom: 1em;
      width: 100%;
    }
  }
}
