//default properties
$brown: #a52a2a;
$black: #000;
$charcoal: #334750;
$gray: #f2f5f6;
$background-grey: #fbfbfb;
$base-border-color: $background-grey;
$dark-grey: #aaa;
$steelblue: #4682b4;
$text-grey: #333;
$white: #fff;

// Font Sizes
$base-font-size: 1em;
$base-spacing: 1.5em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

$base-line-height: 1.5;
$base-border-radius: 3px;
