{{page-title "Bar"}}
<div class="chart">
    <h2>Bar Chart</h2>
    <Example @name="bar" />
    <IconExample @name="bar" />
    <ResponsiveExample @name="bar" />
    <TooltipExample @name="bar" />
    <ClickExample @name="bar" />
</div>