{{page-title "Bar"}}
<div class="chart">
    <h2>Box Chart</h2>
    <Example @name="box" />
    <IconExample @name="box" />
    <ResponsiveExample @name="box" />
    <TooltipExample @name="box" />
    <ClickExample @name="box" />
</div>