{{page-title "Cluster"}}
<div class="chart">
    <h2>Cluster Chart</h2>
    <Example @name="cluster" />
    <IconExample @name="cluster" />
    <ResponsiveExample @name="cluster" />
    <TooltipExample @name="cluster" />
    <ClickExample @name="cluster" />
</div>