{{page-title "Donut"}}
<div class="chart">
    <h2>Donut Chart</h2>
    <Example @name="donut" />
    <OutlinedExample @name="donut" />
    <IconExample @name="donut" />
    <ResponsiveExample @name="donut" />
    <TooltipExample @name="donut" />
    <ClickExample @name="donut" />
</div>
