{{page-title "Tree"}}
<div class="chart">
    <h2>Tree Chart</h2>
    <Example @name="tree" />
    <IconExample @name="tree" />
    <ResponsiveExample @name="tree" />
    <TooltipExample @name="tree" />
    <ClickExample @name="tree" />
</div>