$black: #000;
$white: #fff;
$gray: #f2f5f6;
$charcoal: #334750;
$base-font-size: 1em;
$base-line-height: 1.5;

* {
  box-sizing: border-box;
}

body {
  background-color: $gray;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header,
.footer {
  background-color: $charcoal;
  color: $white;
  flex: 0 1 100%;
  grid-column: 1 / -1;
  margin: 0;
  padding: 20px;
}

.ember-simple-charts-wrapper {
  display: grid;
  grid-auto-rows: minmax(30%, auto);
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  margin: 20px auto;
  max-width: 90%;

  > * {
    background-color: $white;
    border-radius: 5px;
    color: $black;
    font-size: 150%;
    margin-bottom: 10px;
    padding: 20px;
  }

  @media only screen and (max-width: 900px) {
    grid-auto-rows: minmax(100%, auto);
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.panel {
  //needed for the flex layout
  flex: 1 1 30%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;

  @media only screen and (max-width: 900px) {
    //needed for the flex layout
    flex: 1 1 100%;
  }
}
