<EmberPopper
  class="simple-chart-tooltip"
  @placement="top"
  @popperTarget={{@target}}
>
  <div class="content">
    {{#if @title}}
      <div class="title">
        {{@title}}
      </div>
    {{/if}}
    <div class="body">
      {{yield}}
    </div>
  </div>
</EmberPopper>
