{{#modal-dialog
  tetherTarget=tetherTarget
  attachment=attachment
  targetAttachment=targetAttachment
  constraints=constraints
  animatable=false
  containerClass='simple-chart-tooltip-container'
}}
  <div class='content'>
    {{#if title}}
      <div class='title'>{{title}}</div>
    {{/if}}
    <div class='body'>{{yield}}</div>
  </div>
{{/modal-dialog}}
