/**
* See: https://vite.dev/guide/features.html#css
*      for features beyond normal CSS that are available to you.
*
* This CSS is meant for the demo-app only, and will not be included in the published assets for this library.
*/

/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

h1 {
  text-align: center;
}

.examples {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));

  @media only screen and (width <= 900px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.examples .example {
  display: flex;
  flex-direction: column;
}

.examples .example .simple-chart {
  align-self: center;
  height: 250px;
  width: 250px;
}

.examples .example h2 {
  display: flex;
  justify-content: center;
}

.examples .example h2 .simple-chart {
  height: 25px;
  width: 25px;
  margin-right: 1em;
}
