<div class='ember-simple-charts-wrapper'>
  <header class="header">
    <h1>Ember Simple Charts</h1>
    <p>Some simple charts you can use in your email app.</p>
  </header>

  <div class="panel">
    {{simple-chart height=250 width=250 name='donut' data=donutData}}
  </div>
  <div class="panel">
    {{simple-chart height=250 width=250 name='pie' data=pieData}}
  </div>

  <footer class="footer"></footer>
</div>
