<header class="header">
  <h1>Ember Simple Charts</h1>
  <h2>Donut Chart</h2>
</header>

<div class='detail-chart'>
  <div class='icon-example example'>
    {{simple-chart isIcon=true name='donut' data=chartData.donut}}
  </div>

  <div class='medium-example example'>
    {{simple-chart name='donut' data=chartData.donut}}
  </div>

  <div class='large-example example'>
    {{simple-chart name='donut' data=chartData.donut}}
  </div>
</div>

<footer class="footer"></footer>
