<h1>Donut Chart</h1>

<div class='large-example'>
  {{simple-chart name='donut' data=chartData.donut}}
</div>

<div class='small-example'>
  {{simple-chart name='donut' data=chartData.donut}}
</div>

<div class='icon-example'>
  {{simple-chart isIcon=true name='donut' data=chartData.donut}}
</div>
