<header class="header">
  <h1>Ember Simple Charts</h1>
  <h2>Pack Chart</h2>
</header>

<div class="detail-chart">
  <div class="icon-example example">
    {{simple-chart isIcon=true name="pack" data=model}}
  </div>

  <div class="medium-example example">
    {{simple-chart name="pack" data=model}}
  </div>

  <div class="large-example example">
    {{simple-chart name="pack" data=model}}
  </div>
  <div class="large-example example">
    {{#simple-chart name="pack" data=model hover=(action (mut data)) as |chart|}}
      {{#if data}}
        {{#chart.tooltip title=(concat data.label " (" data.children.length ")")}}
          {{chartData.ipsum}}
        {{/chart.tooltip}}
      {{/if}}
    {{/simple-chart}}
  </div>
</div>

<footer class="footer"></footer>
