<header class="header">
  <h1>Ember Simple Charts</h1>
  <h2>Donut Chart</h2>
</header>

<div class='detail-chart'>
  <div class='icon-example example'>
    {{simple-chart isIcon=true name='donut' data=model}}
  </div>

  <div class='medium-example example'>
    {{simple-chart name='donut' data=model}}
  </div>

  <div class='large-example example'>
    {{simple-chart name='donut' data=model}}
  </div>
  <div class='large-example example'>
    {{#simple-chart name='donut' data=model hover=(action (mut data)) as |chart|}}
      {{#if data}}
        {{#chart.tooltip title=(concat data.label ' (' data.data ')')}}
          {{chartData.ipsum}}
        {{/chart.tooltip}}
      {{/if}}
    {{/simple-chart}}
  </div>
</div>

<footer class="footer"></footer>
