name: Continuous Integration

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: 'Lints'
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm lint

  test:
    name: 'Tests'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Tests
        run: pnpm test:ember
      # For the Try Scenarios
      - id: set-matrix
        working-directory: ./ember-simple-charts
        run: |
          echo "matrix=$(pnpm -s dlx @embroider/try list)" >> $GITHUB_OUTPUT

  floating:
    name: 'Floating Dependencies'
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --no-lockfile
      - name: Run Tests
        run: pnpm test

  percy:
    name: Percy Visual Tests
    runs-on: ubuntu-latest
    needs: 'test'
    timeout-minutes: 10
    env:
      PERCY_TOKEN: web_6187ea321b25c1a82793dc19185fba93eb49336654f2284e4e08e9794e7d66c6
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: Start the Percy Server
        run: pnpm --filter test-app exec percy exec:start &
      - run: pnpm --filter test-app run test:ember
      - run: pnpm --filter docs run test:ember
      - name: Stop Percy and Finalize Tests
        run: pnpm --filter test-app exec percy exec:stop

  try-scenarios:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: 'test'
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.test.outputs.matrix)}}

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
      - name: Apply Scenario
        working-directory: ./ember-simple-charts
        run: |
          pnpm dlx @embroider/try apply ${{ matrix.name }}

      - name: Install Dependencies
        run: pnpm install --no-lockfile
      - name: Run Tests
        run: |
          pnpm test
        env: ${{ matrix.env }}
