name: Publish NPM Package

on:
  release:
    types: [published]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
          cache: pnpm
      - run: pnpm install --ignore-scripts
      - name: publish
        run: pnpm publish --filter ember-simple-charts --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
